<div class="panel panel-default">
    <div class="panel-heading">
       <h3> Cadastro de Categoria </h3>
       <% if @category.errors.any? %>
            <% @category.errors.full_messages.each do |message| %>
              <script>
                $.notify("<%= message %>", "warn");
              </script>
            <% end %>
       <% end %>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <%= form_for @category, url:  backoffice_category_index_path do |f| %>
                         <%= f.label :descrição_da_categoria %>
                         <%= f.text_field :description %>
                         <%= f.submit 'Alterar' %>
                <% end %>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.row (nested) -->
    </div>
    <!-- /.panel-body -->
</div>

